* {
  padding: 0;
  margin: 0;
}
/* body {
  background: rgba(247, 248, 249, 1);
} */
.boundary {
  background-color: rgb(15, 15, 79);
  display: flex;
}
.button {
  background-color: white;
  border: 3px solid white;
  border-radius: 0 10px;
  margin: 20px;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
}
.button:hover {
  background-color: white;
  outline: 4px solid rgb(88, 144, 213);
  border-radius: 10px 0;
  margin: 20px;
  transition: all 600ms;
}
.button1 {
  margin-left: 20px;
}
.circle {
  height: 42px;
  width: 42px;
  background-color: rgb(56, 100, 56);
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
  border: 5px solid rgb(189, 104, 47);
  transition: all 2s;
  box-sizing: border-box;
}
.circle:hover {
  border: 8px dashed rgb(215, 134, 81);
}
.input {
  height: 35px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-shrink: 1;
  flex-basis: 400px;
  border-radius: 15px;
  outline: none;
  padding: 10px;
  border: none;
  box-sizing: border-box;
}
.h {
  cursor: pointer;
}
img {
  width: 1160px;
  height: 200px;
}
.body-container {
  row-gap: 24px;
  height: 100vh;
  display: grid;
  /* /* grid-template-columns: 15% 70%; */
  grid-template-rows: 178%;
  grid-template-areas: "side-bar header header header" "side-bar main-comp main-comp main-comp";
}
.side-bar {
  background-color: rgb(141, 146, 209);
  padding: 48px 16px 0;
  margin: 0 0 0 24px;
  display: flex;
  flex-direction: column;
}
.sid {
  padding: 8px 40px 8px 8px;
  border-radius: 10px;
}
.sid:hover {
  background-color: rgb(159, 162, 207);
  cursor: pointer;
}

.main-comp {
  position: absolute;
  top: 285px;
  left: 215px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 200px;
  width: 80%;
  gap: 24px;
  margin: 24px;
}

.element {
  background-color: rgb(208, 205, 199);
  border-radius: 10px;
}
