* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.boundary {
  background-color: rgb(15, 15, 79);
  display: flex;
  justify-content: space-between;
}
.nav-elem {
  display: flex;
}
.button {
  background-color: white;
  border: 3px solid white;
  border-radius: 0 10px;
  margin: 20px;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
}
.button:hover {
  background-color: white;
  outline: 4px solid rgb(88, 144, 213);
  border-radius: 10px 0;
  margin: 20px;
  transition: all 600ms;
}
.button1 {
  margin-left: 20px;
}
.circle {
  height: 42px;
  width: 42px;
  background-color: rgb(56, 100, 56);
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
  border: 5px solid rgb(189, 104, 47);
  transition: all 2s;
  box-sizing: border-box;
}
.circle:hover {
  border: 8px dashed rgb(215, 134, 81);
}
.input {
  height: 35px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-shrink: 1;
  flex-basis: 400px;
  border-radius: 15px;
  outline: none;
  padding: 10px;
  border: none;
  box-sizing: border-box;
}
.h {
  cursor: pointer;
}
img {
  width: 100%;
}
.body-container {
  row-gap: 24px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1/3;
  /* grid-template-areas: "side-bar header header header" "side-bar main-comp main-comp main-comp"; */
}
.side-bar {
  background-color: rgb(141, 146, 209);
  padding: 48px 16px 0;
  margin: 0 0 0 24px;
  display: flex;
  flex-direction: column;
  grid-row-start: 1;
  grid-row-end: 3;
}
.sid {
  display: flex;
  padding: 8px 40px 8px 8px;
  border-radius: 10px;
  font-weight: 600;
  gap: 0 4px;
  align-items: center;
  font-size: 12px;
}
.sid:hover {
  background-color: rgb(159, 162, 207);
  cursor: pointer;
}

.main-comp {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-auto-rows: 200px;
  justify-content: space-evenly;
  gap: 24px;
  margin: 24px;
}

.element {
  background-color: rgb(208, 205, 199);
  border-radius: 10px;
  height: 170px;
  width: 200px;
  padding: 4px;
}
.added {
  display: none;
}
.item {
  font-size: 20px;
}
.img-element {
  height: 100px;
  background-color: #8d8d8d;
  border-radius: 10px;
}
.title-element {
  height: 32px;
  background-color: #8d8d8d;
  margin: 8px 0 0;
  border-radius: 10px;
}
.main-element {
  height: 14px;
  background-color: #8d8d8d;
  margin: 8px 0 0;
  border-radius: 10px;
}

@media (width<=860px) {
  .main-comp {
    grid-template-columns: repeat(auto-fit, 1fr);
  }
}
@media (width<=769px) {
  .side-bar {
    display: none;
  }

  .added {
    display: flex;
    justify-content: space-between;
    margin: 0 24px;
    gap: 24px;
    overflow: auto;
    color: gray;
  }
  .item:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 4px;
    width: 100px;
    color: black;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .button:hover {
    outline: none;
    /* doubt */
    transition: none;
    border-radius: 0 10px;
  }
  .body-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .main-comp {
    grid-template-columns: repeat(auto-fit, 100%);
  }
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.icons {
  width: 16px;
  height: 16px;
}
